<h1>Edit realrelease yes</h1>
<%= form_for @realrelease do |f| %>
  <p>
    Name: <%= f.text_field :name %>
    year <%= f.text_field :year %>
  </p>
  <%= f.fields_for :tracks do |track_form| %>
    <p>
      track: <%= track_form.text_field :name %>
      <%= track_form.check_box :_destroy %>
      <%= track_form.label :_destroy, "Remove track" %>
    </p>
  <% end %>
  <p>yop</p>
  <p>
    <%= f.submit 'Update realrelease' %>
  </p>
<% end %>
