<div class="main-title" style="margin-top:150px;">
  <h1>Releases</h1>
</div>

<div class="title-row border-each">
  <div class="title-name">
    <h2></h2>
  </div>
  <div class="title-name">
    <h2></h2>
  </div>
  <div class="title-name">
    <h2>Name</h2>
  </div>
  <div class="title-name">
    <h2>Artist</h2>
  </div>
  <div class="title-name">
    <h2>Year</h2>
  </div>
</div>

<div class="the-content">
  <% for realrelease in @realreleases %>
    <div class="release-content border-each">
      <div class="release-column">
        <%  if realrelease.image.attached?  %>
          <div class="release-img">
            <%= image_tag realrelease.image, class:"ter-img" %>
          </div>
        <% else %>
          <div class="">
            <p></p>
          </div>
        <% end %>
      </div>
      <div class="release-column">
        <p>
        </p>
        <%= link_to "Buy", {controller: "orders", action: "create", rearelease_id: realrelease.id}%>
      </div>
      <div class="release-column">
        <p><%= link_to realrelease.name.upcase, realrelease %></p>
      </div>
      <div class="release-column">
        <p><%= realrelease.artist.name %></p>
      </div>
      <div class="release-column">
        <p>  <%= realrelease.production_year %> </p>
      </div>
    </div>
  <% end %>
</div>
