<h1>New realrelease</h1>
<%= form_for @realrelease do |f| %>
  <p>
    Name: <%= f.text_field :name %>
  </p>
  <%= f.fields_for :tracks do |track_form| %>
    <p>
        track: <%= track_form.text_field :name %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Create realrelease' %>
  </p>
<% end %>
