<div class="main-title" style="margin-top:150px;">
  <h1><%= @realrelease.artist.name %> : <%= @realrelease.name %></h1>
</div>

<div class="title-row" style="border-top:solid grey 0.5px;">
  <div class="title-name">
    <h2>Name</h2>
  </div>
  <div class="title-name">
    <h2>Duration</h2>
  </div>
  <div class="title-name">
    <h2></h2>
  </div>
  <div class="title-name">
    <h2>Edit</h2>
  </div>
  <div class="title-name">
    <h2>Delete</h2>
  </div>
</div>

<div class="the-content">
  <% for track in @realrelease.tracks %>
    <div class="release-content border-each" >
      <div class="release-column">
        <p><%= track.name %></p>
      </div>
      <div class="release-column">
        <p><%= track.duration %></p>
      </div>
      <div class="release-column">
        <p></p>
      </div>
      <div class="release-column">
        <p>
          <%= link_to "Edit", edit_realrelease_path(@realrelease), class:"nicebutton box-shadow2" %>
        </p>
      </div>
      <div class="release-column">
        <p>
          <%= link_to "Delete", realrelease_path(@realrelease), method: :delete, data:{confirm:"sur?"}, class:"nicebutton box-shadow2" %>

        </p>
      </div>
    </div>
  <% end %>
</div>
