<div class="container-edit">
  <div class="carreblanc">
    <div class="form">
      <%= form_for @artist do |f| %>
        <%= f.fields_for :realreleases, Realrelease.new do |realrelease_form| %>
        <div class="row-edit">
          <p>Add a release</p>
          <p>for  <%= @artist.name %></p>
          <p>
            <p>NAME</p>
            <%= realrelease_form.text_field :name, :placeholder => "Name of the release" %>
            <p>YEAR</p>
            <%= realrelease_form.text_field :year,:placeholder =>  "Year of the release" %>
            <p>COVER</p>
            <%= realrelease_form.file_field :image %>
          </p>
        </div>
        <% end %>

        <%= f.submit 'Add release' %>

    </div>
    <% end %>
  </div>
</div>
