<div class="block margin-top">
  <div class="just-column">

    <div class="bottom small-row-artist">
    <p class="artist-name bottom">  <%= link_to @artist.name.upcase, artist_path, style:'color:#8e8e8e;'%> </p> <!--<%= image_tag 'settings.png', style:"margin-left:30px;margin-bottom:-10px;width:50px;height:50px;"%></p>-->
    </div>

    <div class="just-column">

      <!-- EDIT ARTIST-->
      <%= form_for @artist do |f| %>
      <div class="just-column bottom border-bot">
        <p style="margin-bottom:20px;">ADD A PROFIL PICTURE</p>
        <p><%= f.file_field :image, class:"file-field-new-artist", class:"none-border" %></p>
        <p><%= image_submit_tag 'save.png', class:"save", style:'margin-top:23px;'%></p>
        <p> <br></p>
      </div>
      <% end %>
      <!-- EDIT ARTIST END-->


      <!-- CREATE DJ SET-->
  
      <!-- DJ SET END-->

      <!-- CREATE RELEASE-->
      <%= form_for @artist do |f| %>
      <%= f.fields_for :realreleases, Realrelease.new do |realrelease_form| %>
      <div class="just-column bottom-border bottom">
        <p> <br></p>
        <div class="just-row">
          <p  style="margin-bottom:20px;">ADD A RELEASE FOR </p><p class='info'><%= @artist.name.upcase %></p>
        </div>
        <p style='margin-bottom:10px;'>Name</p> <br> <p><%= realrelease_form.text_field :name, :placeholder => "Name of the release", class:"submit", style:'margin-bottom:10px;' %></p>
        <p style='margin-bottom:10px;'>Year</p>
        <br>
        <p><%= realrelease_form.text_field :production_year,:placeholder =>  "Year of the production", class:"submit", style:'margin-bottom:10px;' %></p>
        <p style='margin-bottom:10px;'>Cover</p>
        <div class="block2">
          <p style='margin-bottom:10px;'><%= realrelease_form.file_field :image %></p>
          <% end %>
        </div>
        <p><%= image_submit_tag 'save.png', class:"save"%></p>
      </div>
      <% end %>
      <!-- RELEASE END-->

    </div>
  </div>
</div>
