<%=flash[:notice]%>
<div class="artist-content">

  <div class="new-artist">
    <div class="text-new-artist">
        <p><%= link_to 'ADD NEW ARTIST', new_artist_path%></p>
    </div>
  </div>

  <div class="artist-list-content">
    <% for artist in @artists %>
    <div class="artist-list">
      <%= image_tag "arrow-right.png", class:"arrow-right" %>
      <div class="transition1">
      <p><%= link_to artist.name, artist, class: "artist-name" %></p>
      </div>
      <div class="">
        <%= link_to 'destroy', artist, method: :delete, data:{confirm:"sur?"} %>
      </div>
    </div>
    <% end %>
  </div>

</div>
