<div class="row">
  <div class="column" >
    <div class="space-small-div">
      <%= @artist.name.upcase %>
    </div>
    <div class="column-inside">
      <% for realrelease in @artist.realreleases %>
      <div class="release-name">
        <div>
            <%= link_to realrelease.name, realrelease%>
        </div>
        <div>
          <%=  realrelease.year%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="column">
    <div class="button-add-release space-small-div">
      <%= link_to 'ADD RELEASE', edit_artist_path(@artist), class: "add-release" %>
    </div>
    <div class="button-delete-release space-small-div">
      <%= link_to 'DELETE ARTIST', artist_path(@artist), method: :delete, data: { confirm: 'Are you sure to delete this artist ? Every release and track associate will be remove as well' },class: "delete-artist " %>
    </div>
  </div>
</div>
