<div class="block">
  <div class="just-column large">
    <p class="artist-name margin-bottom"><%=@artist.name%></p>
    <div class="block2 margin-bottom">
      <div class="just-column block-width">
        <p class="little-title small-margin-bottom">Releases</p>
        <p><br></p>
        <% for realrelease in @artist.realreleases %>
            <p>  <%= link_to realrelease.name, realrelease%></p>
            <p><%=  realrelease.year%></p>

            <p><%=  realrelease.id%></p>
            <p><br></p>
        <% end %>
      </div>
      <div class="just-column border-left block-width">
        <br>
        <%  if @artist.image.attached?  %>
        <%= image_tag @artist.image, style:('width:100%;height:auto;'),class:'background-artist-image' %>
        <%end %>
      </div>
      <div class="just-column border-left block-width">
        <p class="little-title small-margin-bottom">Next date</p>
        <p><% for dj_set in @artist.djsets %></p>
        <p>The</p>
        <p class="red"> <%=  dj_set.start%></p>
        <p>At</p><p class="red"> <%=  dj_set.club%></p>
        <%=  dj_set.id%>
        <p><br></p>
        <% end %>
      </div>
    </div>
      <div class="">
        <%= link_to 'Delete the Artist', artist_path(@artist), method: :delete, data: { confirm: 'Are you sure to delete this artist ? Every related stuff, releases, sets, and tracks associate will be erased as well...' },class: "submit" %>
        <%= link_to 'Edit', edit_artist_path(@artist), class: "submit" %>
      </div>
    </div>
  </div>

  <%= render 'artists/calendar' %>
