


<div class="index-artist column">

  <div class="row" id="row1">
    <div class="row1-left">
      <div class="space-small-div">
      <%= @artist.name.upcase %>
      </div>
    </div>
    <div class="row1-right">
      <div class="button-edit space-small-div">
      <%= link_to 'Edit', edit_artist_path(@artist), class: "edit-style" %>
      </div>
      <div class="button-delete space-small-div">
      <%= link_to 'Delete', artist_path(@artist), method: :delete, data: { confirm: 'Are you sure to delete this artist ?' },class: "delete-style" %>
      </div>
    </div>
  </div>
<div class="row">
  <p>________________________________________________________________________________________________________</p>

</div>
  <% for realrelease in @artist.realreleases %>
  <div class="row" id="row1">
    <div class="column1">
      <div class="space-small-div" >
        <%= realrelease.name %>
      </div>
    </div>
    <div class=" column2" >
      <div class="space-small-div" >
      <%= realrelease.year %>
      </div>
    </div>
  </div>
  <div class="row" id="white">


  </div>
  <% end %>

</div>
