

<div class="articles">
  <% @articles.each do |article| %>
  <div class="article-uniq">
    <h1><%= article.title %></h1>
    <p id="date">Publier le <%= article.created_at%></p>
    <p id=content-article><%= article.content %></p>
    <div class="litle-row">
      <p id="edit-and-show"><%= link_to 'Edit', edit_article_path(article), class:"icone-in-table" %></p>
      <p id="edit-and-show">  <%= link_to 'Show', article, class:"icone-in-table" %></p>
    <p id="bin"><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class:"icone-in-table" %></p>
    </div>

  </div>
  <% end %>

  <div class="new-articles">
  <p id="new-one">  <%= link_to 'New Article', new_article_path %></p>
  </div>

</div>
