<%=flash[:notice]%>
<table class="table">
    <thead class="titre">
      <tr class="elementoftitle">
      <th class="element-title">Name</th>
      <th class="element-title">Place</th>
      <th class="element-title">Line up</th>
      <th class="element-title">Number of DJ</th>
      <th class="element-title">Revenue figure</th>
      <th class="element-title">Total charge DJ</th>
      <th class="element-title">Charge Flyers</th>
      <th class="element-title">Charge Others</th>
      <th class="element-title">Benefits</th>
      <th class="element-title">Edit</th>
      <th class="element-title">Show</th>
      <th class="element-title">Delete</th>
    </tr>

  </thead>

  <tbody class="content">
    <% @events.each do |event| %>
      <tr class="elementofcontent">
        <td class="element"><%= event.name %></td>
        <td class="element"> <%= event.place %></td>
        <td class="element"><%= event.line_up %></td>
        <td class="element"><%= event.number_of_dj %></td>
        <td class="element"><%= event.revenue_figure %></td>
        <td class="element"><%= event.total_charge_dj %></td>
        <td class="element"><%= event.charge_communication %></td>
        <td class="element"><%= event.charge_others %></td>
        <td class="element"><%= Event.get_benefits %></td>
        <td class="element"><%= link_to 'Edit', edit_event_path(event) %></td>
        <td class="element"><%= link_to 'Show', event %></td>
        <td class="element"><%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= form_tag import_events_path, multipart: true do%>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import CSV' %>
  <% end %>
</div>
