<%=flash[:notice]%>
<table class="table">
    <thead class="titre">
      <tr class="elementoftitle">
        <th class="element-title"><p>Name</p></th>
        <th class="element-title"><p>Place</p></th>
        <th class="element-title"><p>start</p></th>
        <th class="element-title"><p>Line up</p></th>
        <th class="element-title"><p>Number of DJ</p></th>
        <th class="element-title"><p>Revenue figure</p></th>
        <th class="element-title"><p>Total charge DJ</p></th>
        <th class="element-title"><p>Charge communication</p></th>
        <th class="element-title"><p>Charge Others</p></th>
        <th class="element-title"><p>Benefits</p></th>
        <th class="element-title"><p class="scroll-x">Benefits rate (absolute indicator)</p></th>
        <th class="element-title"><p class="scroll-x">Return rate (relative indicator)</p></th>
        <th class="element-title"><p>Edit</p></th>
        <th class="element-title"><p>Show</p></th>
        <th class="element-title"><p>Delete</p></th>
      </tr>
  </thead>

  <tbody class="content">
    <%= render partial: 'event', collection: @events %>

  </tbody>
</table>

<div class="just-column">
  <div class="just-row">
    <p>Benefice total : </p><p class="calcul"><%= Event.total_benefits %> $ </p>
  </div>

  <p><br></p>

  <div class="just-row">
    <p>Benefice moyen : </p><p class="calcul"><%= Event.average_benefits%> $ </p>
  </div>

  <p><br></p>
<div class="end-block">

  <div class="new-link-event">
    <div class="hide-link">
      <%= link_to 'ADD NEW EVENT', new_event_path, id:'ajax-add-new-event', remote: true%>
    </div>
  </div>
</div>



</div>
