<div class="event-show">

<h1><%= @event.name %></h1>
 <div class="just-row"><p>Club :</p><p class="data"><%=@event.place%></p> </div>
 <div class="just-row"><p>Line up :</p><p class="data"><%= @event.line_up %></p></div>
 <div class="just-row"><p>number of dj :</p><p class="data"><%= @event.number_of_dj %></p></div>
 <div class="just-row"><p>C.A. :</p><p class="data"><%= @event.revenue_figure %>$</p></div>
 <div class="just-row"><p>Charge DJ :</p><p class="data"><%= @event.total_charge_dj %>$</p></div>
 <div class="just-row"><p>Charge comunication :</p><p class="data"><%= @event.charge_communication %></p></div>
 <div class="just-row"><p>Charge Others :</p><p class="data"><%= @event.charge_others %>$</p></div>
 <div class="just-row"><p>Description :</p><p class="data"><%= @event.charge_others_description %></p></div>

<div class="just-row"><p>Benefits =</p><p> <%= @benefits %> $</p></div>
</div>
