<div class="form">
  <td class="element"><%= @event.name %></td>
  <td class="element"> <%=@event.place %></td>
  <td class="element"><%= @event.line_up %></td>
  <td class="element"><%= @event.number_of_dj %></td>
  <td class="element"><%= @event.revenue_figure %></td>
  <td class="element"><%= @event.total_charge_dj %></td>
  <td class="element"><%= @event.charge_communication %></td>
  <td class="element"><%= @event.charge_others %></td>
  <td class="element"><%= Event.benefits %></td>
</div>
