<div class="center">

  <div class="container" sytle="z-index:0;">
    <div class="box shadow5" style="padding:3%; border:solid 10px white; border-radius:20px 20px; color:#E4B4C2">

    <p style='font-size:18px'>LOG IN</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="" style="margin-top:20px">
        <p style='font-size:12px'>EMAIL</p>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style:'color:#E4B4C2;border:#E4B4C2' %>
      </div>

      <div style="margin-top:20px">
        <p style='font-size:12px'>PASSWORD</p>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", style:'color:#E4B4C2;border:#E4B4C2'%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div style="margin-top:20px">
          <p style='font-size:12px'>REMEMBER ME ?  <%= f.check_box :remember_me, style:'color:#E4B4C2;border:#E4B4C2;margin-top:20px'%></p>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "LOG IN", style:'color:#E4B4C2;border:#E4B4C2; margin-top:20px' %>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
