<div class="double-nav">
  <nav class="mynavbar">
    <div class="navleft">
        <div class="SD1 first-line">
          <div  class="" id="blink">
            <%= image_tag("rectangle.png")%>
          </div>
        </div>
      <div class="second-line SD1">
        <p class="SD1"><a href="/events">Desk</a></p>
      </div>
      <div >
          <p class=" SD1"><%= link_to "Release", releases_path %></p>
      </div>
      <div >

          <p class=" SD1"><%= link_to "Events", "https://www.facebook.com/sampledeliveryrecords/"%></p>
      </div>
      <div >

          <p class=" SD1"><%= link_to "Home", home_index_change_path%></p>
      </div>
        </div>
  </nav>
  <div class="navright">
      <% if flash[:success] %>
      <div class="sending">
        <%end%>
    <div  class="email">
       <%= link_to image_tag("email.png"), new_contact_path  %>
    </div>
    </div>
    <% if flash[:success] %>
    <div id="hideMe">
      <div class= "email ">
        <div class="success">
      <p id="text" >
            <%= flash[:success] %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
