<div class="double-nav">
  <nav class="mynavbar">
    <div class="navleft">
        <div class="SD1 first-line">
          <div  class="" id="blink">
            <%= image_tag("rectangle.png")%>
          </div>
        </div>
      <div class="second-line SD1">
        <p class="SD1"><a href="/events">Desk</a></p>
      </div>
      <div >
          <p class=" SD1"><%= link_to "Booking", "https://www.facebook.com/sampledeliveryrecords/"%></p>
      </div>
      <div >

          <p class=" SD1"><%= link_to "Events", "https://www.facebook.com/sampledeliveryrecords/"%></p>
      </div>
        </div>
  </nav>
  <div class="navright">
    <div  class="email">
       <%= link_to image_tag("email.png"), new_contact_path  %>
    </div>
    <div class= "email">
      <% if flash[:success] %>
      <p class="success">
        <%= flash[:success] %></p>
            <% end %>
          </div>
  </div>
</div>
