<div class="nav">

    <button class="toggle hamburger hamburger--arrow is-active" type="button">
      <label for="toggle">
        <span class="hamburger-box">
          <span class="hamburger-inner">  </span>
        </span>
      </label>
    </button>
    <input type="checkbox" id="toggle"/>

    <div class="menu">

      <div class="part-menu">
       </div>
      <div class="part-menu">
      <p><%= link_to "COMPTABILITY", events_path %></p>  </div>
      <div class="part-menu">
      <p><%= link_to "RELEASE", realreleases_path %></p> </div>
      <div class="part-menu">
      <p><%= link_to "ARTIST", artists_path%></p> </div>
      <div class="part-menu">
      <p><%= link_to "ARTICLES", articles_path %></p> </div>
      <div class="part-menu">
      <p><%= link_to "CALENDAR", calendar_events_path %></p> </div>
      <% if user_signed_in? %>
        <div class="">
      <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p> </div>
      <% else %>
        <div class="part-menu">
      <p><%= link_to "SIGNIN", new_user_session_path  %></p> </div>
      <% end %>
        <div class="part-menu">
      <p><%= link_to "CONTACT", new_contact_path %></p> </div>
    </div>

    <div class="sending">
    </div>

    <div  class="email">
    </div>



    <% if flash[:success] %>

    <div id="hideMe">
      <div class= "email ">
        <div class="success">
          <p id="text" >
            <%= flash[:success] %>
          </p>
        </div>
      </div>
    </div>

    <% end %>

</div>
