<div class="nav">

  <div class="nav-left">
    <button class="toggle hamburger hamburger--arrow is-active" type="button">
      <label for="toggle">
        <span class="hamburger-box">
          <span class="hamburger-inner">  </span>
        </span>
      </label>
    </button>
    <input type="checkbox" id="toggle"/>
    <div class="menu">
      <p><%= link_to "EVENT COMPTABILITY", events_path %></p>
      <p><%= link_to "RELEASE", realreleases_path %></p>
      <p><%= link_to "ARTIST", artists_path %></p>
      <p><%= link_to "HOME", home_index_change_path%></p>
    </div>


  </div>


  <div class="nav-right">

    <% if user_signed_in? %>

    <div class="sign">
      <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
      </div>
    <% else %>

    <div  class="sign">
      <p><%= link_to "SIGN IN", new_user_session_path  %></p>
    </div>

    <% end %>

    <div class="sending">
    </div>

    <div  class="email">
    <%= link_to image_tag("email.png"), new_contact_path  %>
    </div>



    <% if flash[:success] %>

    <div id="hideMe">
      <div class= "email ">
        <div class="success">
          <p id="text" >
            <%= flash[:success] %>
          </p>
        </div>
      </div>
    </div>

    <% end %>

  </div>

</div>
