<!DOCTYPE html>
<html>
  <head>
    <title>SdApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">


  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/navbarright' %>

    <p class="notice"> <%= notice %></p>
    <% if flash[:alert] %>
      <div id="alert">
         <%= flash[:alert] %>
      </div>
<% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>


    <!-- Burger menu to cross menu-->
      <script>
        function tempAlert(msg,duration)

        {
         var el = document.createElement("div");
         el.setAttribute("style","position:absolute;top:20emleft:40em;background-color:white;");
         el.innerHTML = msg;
         setTimeout(function(){
          el.parentNode.removeChild(el);
         },duration);
         document.body.appendChild(el);
        }
        tempAlert("SAMPLE DELIVERY",1000);
        function temp2Alert(msg,duration)

        {
         var le = document.createElement("div");
         le.setAttribute("style","position:absolute;top:10em;left:70%;background-color:white;");
         le.innerHTML = msg;
         setTimeout(function(){
          le.parentNode.removeChild(le);
         },duration);
         document.body.appendChild(le);
        }
        temp2Alert("SAMPLE DELIVERY",4000);
        setTimeout(function(){
        $('#yolo').hide();
      }, 2500);

        setTimeout(function(){
        $('#yolo').show();
      }, 7500);

        setTimeout(function(){
        $('#testjs2').hide();
      }, 5000);
      setTimeout(function(){
      $('#testjs2').show();
      }, 10000);
      setTimeout(function(){
      $('#testjs2').hide();
    }, 15000);
    setTimeout(function(){
    $('#testjs2').show();
  }, 20000);
  </script>
  <script>

      // Look for .hamburger
      var hamburger = document.querySelector(".hamburger");
      // On click
      hamburger.addEventListener("click", function() {
        // Toggle class "is-active"
        hamburger.classList.toggle("is-active");
        // Do something else, like open/close menu
      });
    </script>
    <!-- END Burger menu to cross menu-->

    <!-- OmniAuth authentification-->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{2205342996424947}',
          cookie     : true,
          xfbml      : true,
          version    : '{v4.0}'
        });

        FB.AppEvents.logPageView();

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- END OmniAuth authentification-->
    <!-- Begin nav disapear when scroll down -->
  
  </body>
</html>
